In [1]:
import pandas as pd 

dict = {'apples':[3,2,1,4],'oranges':[4,5,6,8],'mango':[3,5,6,7]}

In [2]:
print(dict)

{'apples': [3, 2, 1, 4], 'oranges': [4, 5, 6, 8], 'mango': [3, 5, 6, 7]}

In [3]:
purch = pd.DataFrame(dict)
purch

   apples  oranges  mango
0       3        4      3
1       2        5      5
2       1        6      6
3       4        8      7

In [4]:
purch.head()

   apples  oranges  mango
0       3        4      3
1       2        5      5
2       1        6      6
3       4        8      7

In [7]:
purch = pd.DataFrame(dict,index = ['abhi','ajay','treasury','common'])
purch

          apples  oranges  mango
abhi           3        4      3
ajay           2        5      5
treasury       1        6      6
common         4        8      7

In [8]:
purch.loc['ajay']

apples     2
oranges    5
mango      5
Name: ajay, dtype: int64

In [9]:
purch.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, abhi to common
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   apples   4 non-null      int64
 1   oranges  4 non-null      int64
 2   mango    4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [11]:
purch['apples'].mean()

2.5